#################################################
#               Mac OSX                         #
#################################################
**/.DS_Store
.DS_Store*
Thumbs.db
.Thumbs
.Trashes

#################################################
#               Build                           #
#################################################
.*.swp
_build
dist/
*.native
*.byte
setup.data
lint/

#################################################
#               Code                            #
#################################################
    # OCaml
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
    # Ruby
.rbenv-version
.rvmrc


#################################################
#               Planet files                    #
#################################################
planet/cache/
planet/*/*.tmplc
pages/planet/
